<div class="">
</div>
<div class="flex flex-col gap-10">
    <button class="bg-gray-300 w-100 pr-8 pl-8 pt-2 pb-2 rounded-md text-xl font-semibold border border-gray-500 font-mono">Dashboard</button>
    <button class="bg-gray-300 w-100 pr-8 pl-8 pt-2 pb-2 rounded-md text-xl border font-semibold border-gray-500 font-mono">Pojazdy</button>
    <button class="bg-gray-300 w-100 pr-8 pl-8 pt-2 pb-2 rounded-md text-xl border font-semibold border-gray-500 font-mono">Serwis</button>
    
</div>