{% extends 'base.html.twig' %}

{# {% block title %}Hello HomeController!{% endblock %} #}

{% block body %}
<div class="grid grid-cols-7 w-full h-full">
    <div class="col-span-2 bg-blue-700 h-screen">

    </div>
    <div class="col-span-5">
        {{ include('home/_form_vehicle_add.html.twig') }}
    </div>
</div>
{% endblock %}
