{% extends 'base.html.twig' %}

{# {% block title %}Hello HomeController!{% endblock %} #}

{% block body %}
<div class="grid grid-cols-8 w-full h-full w:md-2/3 mx-auto ">
        {{ include('shared/_form_nav.html.twig') }}

</div>
{% endblock %}
