.custom-label {
  position: absolute;
  left: 12px;
  bottom: 7px;
  padding: 0 0.3em 0 0.3em;
  cursor: text;
  transition: transform 0.3s;
}

.custom-widget {
  color: lightgray;
}

.custom-widget:-moz-placeholder-shown ~ .custom-label {
  transform: translateY(0);
  background-color: transparent;
}

.custom-widget:placeholder-shown ~ .custom-label {
  transform: translateY(0);
  background-color: transparent;
}

.custom-widget:not(:-moz-placeholder-shown) ~ .custom-label {
  transform: translateY(-80%);
  background-color: #1B2431;
}

.custom-widget:not(:placeholder-shown) ~ .custom-label {
  transform: translateY(-80%);
  background-color: #1B2431;
}

.custom-widget:focus ~ .custom-label {
  transform: translateY(-80%);
  background-color: #1B2431;
}

.hidden {
  display: none;
}

.content-table {
  height: auto;
  transition: height 0.2s ease-in-out;
}

.content-form {
  height: auto;
  transition: height 0.2s ease-in-out;
}

.hidden-form__form {
  height: 2.5em;
  transition: height 0.2s ease-in-out;
}

.hidden-form__table {
  height: 90%;
}

.hidden-form__table--repair {
  height: 80vh;
}

.rotated {
  margin-bottom: 0;
  transform: rotate(180deg);
  transition: transform 0.2s;
}

.main {
  height: 100vh;
}

.main__box {
  background-color: #202B39;
}
.main__box-content {
  overflow-y: auto;
}

.background {
  background-color: #1B2431;
}

.menu__profile {
  width: 40px;
  height: 40px;
  border-radius: 30%;
  background-color: #121D2C;
}
.menu__profile:hover {
  background-color: #08101a;
}

.menu__button {
  width: 40px;
  height: 40px;
  border-radius: 30%;
  background-color: #2B3E68;
}
.menu__button:hover {
  background-color: #121D2C;
}
.menu__button--active {
  width: 40px;
  height: 40px;
  border-radius: 30%;
  background-color: #121D2C;
}
.menu__button--active:hover {
  background-color: #08101a;
}

.page__title {
  color: white;
  font-size: 1.8rem;
  font-weight: 200;
}

.top {
  width: 100%;
}
.top__box {
  position: relative;
  width: 18em;
  height: 10em;
  border-radius: 1em;
  background-color: #202B39;
}
.top__box-text {
  position: absolute;
  top: 1em;
  left: 3em;
  text-align: center;
}
.top__box-text--name {
  color: white;
  font-size: 1.5rem;
  font-weight: 200;
}
.top__box-text--number {
  color: white;
  font-size: 3rem;
}
.top__box-icon {
  position: absolute;
  top: 1em;
  right: 1em;
  width: 3em;
  height: 3em;
  align-content: center;
  text-align: center;
  color: white;
  border-radius: 1em;
}
.top__box-bottom {
  position: absolute;
  bottom: 1em;
  left: 2em;
  color: lightgray;
}
.top__box-bottom i {
  margin-right: 0.5em;
  font-size: 1rem;
}
.top__box-bottom span {
  font-size: 0.9rem;
  font-weight: 300;
}
.top__vehicles {
  background-color: #BB9631;
}
.top__repairs {
  background-color: #60278B;
}
.top__costs {
  background-color: #278B2A;
}
.top__calendar {
  background-color: #8B274C;
}

.middle {
  width: 100%;
  height: 15em;
  border-radius: 1em;
  background-color: #202B39;
}

.bottom {
  width: 100%;
  height: 13em;
}
.bottom__box {
  border-radius: 1em;
  background-color: #202B39;
}

.table {
  display: table;
  text-align: center;
  table-layout: fixed;
}
.table__head {
  background-color: rgba(255, 255, 255, 0.062745098);
  padding: 0.6em;
}
.table__head th {
  padding: 0.6em;
  font-weight: 300;
}
.table__head td {
  text-wrap: wrap;
}
.table__row {
  height: 3em;
  font-weight: 200;
  padding: 0.6em;
}
.table__status {
  padding: 0.6em;
}

.description {
  width: 13em;
  word-break: break-word;
}

.action-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 5px;
}
.action-btn--edit {
  background-color: #A58D4C;
}
.action-btn--edit:hover {
  background-color: #cdb062;
}
.action-btn--remove {
  background-color: #7C3436;
}
.action-btn--remove:hover {
  background-color: #964043;
}

.alertYellow {
  color: #A58D4C;
}

.alertRed {
  color: #7C3436;
}

.form__widget {
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  width: 14em;
  background-color: #323D4E;
}
.form__btn {
  background-color: #2B3E68;
}
.form__btn:hover {
  background-color: rgba(43, 62, 104, 0.6862745098);
}

.status__btn {
  width: 7em;
  padding: 0.2em 0 0.2em 0;
  border-radius: 7px;
}
.status__btn--planned {
  background-color: #923E3E;
}
.status__btn--inprogress {
  background-color: #927B3E;
}
.status__btn--done {
  background-color: #357037;
}

.nav__box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 5em;
  transition: width 0.2s ease-in-out;
  overflow: hidden;
}
.nav__wide {
  justify-content: start;
  align-items: start;
  padding-left: 1.3em;
  width: 15em;
  transition: width 0.2s ease-in-out;
}
.nav__profile {
  width: 100%;
  justify-content: center;
  transition: justify-center 0.2s ease-in-out;
}
.nav__profile--wide {
  justify-content: start;
  transition: justify-content 0.2s ease-in-out;
}
.nav__btn-box {
  display: flex;
  width: 100%;
  justify-content: center;
  transition: justify-content 0.2s ease-in-out;
}
.nav__btn-box--wide {
  margin-right: 5em;
  justify-content: end;
  transition: justify-content 0.2s ease-in-out;
}
.nav__hidden {
  display: none;
  margin-left: 1em;
  color: white;
  font-weight: 200;
}
.nav__hidden--wide {
  display: block;
}

.profile__icon i {
  color: #416DAE;
  font-size: 1.2rem;
}
.profile__icon p {
  color: white;
  font-weight: 200;
  font-size: 1rem;
}
.profile__icon label {
  color: white;
  font-weight: 200;
  font-size: 1rem;
}
.profile__btn {
  padding: 0.5em 0;
  width: 11em;
  background-color: #2B3E68;
  color: white;
  font-weight: 200;
}
.profile__btn:hover {
  background-color: #121D2C;
}

.toggle-checkbox {
  position: absolute;
  width: 0;
  height: 0;
  visibility: hidden;
}
.toggle-btn {
  display: block;
  position: relative;
  width: 2em;
  height: 1em;
  background-color: gray;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.toggle-btn::before {
  content: "";
  position: absolute;
  top: 0.1em;
  left: 0.1em;
  width: 0.8em;
  height: 0.8em;
  border-radius: 50%;
  background-color: lightgray;
  transition: transform 0.3s;
}

.toggle-checkbox:checked + .toggle-btn {
  background-color: #416DAE;
}

.toggle-checkbox:checked + .toggle-btn::before {
  transform: translateX(1em);
}

.raport {
  transition: color 0.2s;
}

.raport:hover {
  color: #416DAE;
}

.filter__blur {
  height: 52em;
  background-color: rgba(48, 48, 48, 0.4);
  -webkit-backdrop-filter: blur(16px);
          backdrop-filter: blur(16px);
  z-index: -1;
}/*# sourceMappingURL=main.css.map */