.custom-label{
    position: absolute;
    left: 12px;
    bottom: 7px;
    cursor: text;
    transition: transform 0.3s;
}

.custom-widget:placeholder-shown ~ .custom-label{
    transform: translateY(0);
    background-color: transparent;
}
.custom-widget:not(:placeholder-shown) ~ .custom-label{
    transform: translateY(-80%);
    background-color: #172554;
}
.custom-widget:focus ~ .custom-label{
    transform: translateY(-80%);
    background-color: #172554;
}