<form action="{{ path('app_repair') }}" method="GET">
    <i class="fa-solid fa-sort text-gray-200 place-items-center mr-1"></i>
    
    <select name="sort" id="sort" onchange="this.form.submit()" class="rounded-md border bg-gray-200 border-gray-300 text-sm h-5 mr-10">
        <option {% if sort is empty %}selected{% endif %}>Domyślnie</option>
            <option value="alphabetASC" {% if sort == 'alphabetASC' %}selected{% endif %}>Alfabetycznie rosnąco</option>
            <option value="alphabetDESC" {% if sort == 'alphabetDESC' %}selected{% endif %}>Alfabetycznie malejąco</option>
            <option value="dateRepairASC" {% if sort == 'dateRepairASC' %}selected{% endif %}>Data rosnąco</option>
            <option value="dateRepairDESC" {% if sort == 'dateRepairDESC' %}selected{% endif %}>Data malejąco</option>
            <option value="priceASC" {% if sort == 'priceASC' %}selected{% endif %}>Cena rosnąco</option>
            <option value="priceDESC"{% if sort == 'priceDESC' %}selected{% endif %}>Cena malejąco</option>    
    </select>
</form>