{% extends 'base.html.twig' %}

{# {% block title %}Hello HomeController!{% endblock %} #}

{% block body %}
<div class="grid grid-cols-8 w-full h-full w:md-2/3 mx-auto ">
        {{ include('shared/_form_nav.html.twig') }}
        
    <div class="col-span-6 grid grid-rows-7 w-full">
        <div class="row-span-4 col-span-6">
            {# {{ include('') }} #}
        </div>
            {{ include('repair/_form_repair_add.html.twig') }}
    </div>
</div>
{% endblock %}
