{% extends 'base.html.twig' %}

{% block title %}Serwisownik - Logowanie {% endblock %}

{% block body %}
<div class="w-full h-screen background flex flex-col justify-center place-items-center text-white font-mono">

    {% for flash_error in app.flashes('error') %}
        <div class="alert alert-danger w-1/3 bg-red-300 border-red-950 text-red-900 rounded-md p-1 text-center mb-10" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <form action="{{ path('app_login') }}" method="POST">
        <div class="flex flex-col gap-8 place-items-center">

            <div class=""><img src="{{ asset('img/logo.png') }}" class="w-24"></div>

            <h1 class="text-4xl font-semibold">Logowanie</h1>

            <div class="relative">
                <input type="text" name="_username" id="_username" class = "custom-widget flex bg-transparent border-2 border-gray-700  rounded-md p-1 pl-3 pr-3" placeholder>
                <label class="custom-label" for="_username">Email</label>
            </div>
            <div class="relative">
                <input type="password" name="_password" id="_password" class="custom-widget flex bg-transparent border-2 border-gray-700 rounded-md p-1 pl-3 pr-3" placeholder>
                <label class="custom-label" for="_password">Hasło</label>
            </div>
        </div>
        <div class="w-full mb-6 mt-1">
            <a href="{{ path('app_register') }}" class="text-sm text-gray-400">Nie mam konta</a>
        </div>
        <div class="w-full flex justify-center">
            <button type="submit" class="btn rounded-md form__btn border border-none p-2 pr-5 pl-5">Zaloguj</button>
        </div>
            <input type="hidden" name="_target_path" value="/">

    </form>
</div>
{% endblock %}
