<h1>Otrzymaliśmy prośbę o zmianę hasła do twojego konta.</h1>

<p>
    Potwierdź prośbę klikając w link: <br><br>
    <a href="{{ signedUrl|raw }}">Resetuj hasło</a>.
    Ten link wygaśnie za {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>
