<form action="{{ path('app_vehicle') }}" method="GET">
    
    <select name="sort" id="sort" onchange="this.form.submit()" class="rounded-md bg-transparent appearance-none text-white text-md pl-4 w-auto pr-4">
        <option {% if sort is empty %}selected{% endif %}>Domyślnie</option>
            <option value="alphabetASC" {% if sort == 'alphabetASC' %}selected{% endif %}>Alfabetycznie rosnąco</option>
            <option value="alphabetDESC" {% if sort == 'alphabetDESC' %}selected{% endif %}>Alfabetycznie malejąco</option>
            <option value="serviceASC" {% if sort == 'serviceASC' %}selected{% endif %}>Przegląd rosnąco</option>
            <option value="serviceDESC" {% if sort == 'serviceDESC' %}selected{% endif %}>Przegląd malejąco</option>
            <option value="insuranceASC" {% if sort == 'insuranceASC' %}selected{% endif %}>Ubezpieczenie rosnąco</option>
            <option value="insuranceDESC"{% if sort == 'insuranceDESC' %}selected{% endif %}>Ubezpieczenie malejąco</option>  
    </select>
</form>