{% extends 'base.html.twig' %}

{# {% block title %}Hello HomeController!{% endblock %} #}

{% block body %}
<div class="grid grid-cols-8 w-full h-full w:md-2/3 mx-auto ">
        {{ include('shared/_form_nav.html.twig') }}
        
    <div class="col-span-6 grid grid-rows-7 w-full">
        <div class="row-span-4 col-span-6" data-sort="vehicle">
        {{ include('shared/_top_nav.html.twig') }}
        <table class="w-full">
            <tr class="">
                <th>Nr</th>
                <th>Pojazd</th>
                <th>Rocznik</th>
                <th>Tablice rejestracyjne</th>
                <th>Rok zakupu</th>
                <th>Przegląd</th>
                <th>Ubezpieczenie</th>
                <th>Akcja</th>
            </tr>
            {% if vehicles|length > 0 %}
                {% for vehicle in vehicles %}
                {{ include('vehicle/_vehicle.html.twig', {'vehicle': vehicle, 'currentDate': currentDate}) }}   
                {% endfor %}
            {% endif %}
        </table>  
        </div>
        {% if form_type == 'edit' %}
            {% embed "vehicle/_edit_form.html.twig" %}{% endembed %}
        {% else %}
            {% embed "vehicle/_form_vehicle_add.html.twig" %}{% endembed %}   
        {% endif %}
    </div>
</div>
{% endblock %}
