<div class="nav__menu rounded-tr-2xl rounded-br-2xl h-screen w-20 flex flex-col place-items-center justify-between ring-1 ring-gray-700 pt-5 pb-10 absolute">
    <div class="flex flex-col place-items-center gap-8">
        <i class="fa-solid fa-bars-staggered text-white text-xl cursor-pointer"></i>
        <button class="menu__profile ring-gray-700 ring-1"><i class="fa-regular fa-user text-white text-xl"></i></button>
    </div>
    <div class="flex flex-col justify-items-center gap-8">
        <a href="{{ path('app_index') }}"><button class="menu__button ring-1 ring-gray-700"><i class="fa-brands fa-slack text-white text-xl"></i></button></a>
        <a href="{{ path('app_vehicle') }}"><button class="menu__button ring-1 ring-gray-700"><i class="fa-solid fa-car-rear text-white text-xl"></i></button></a>
        <a href="{{ path('app_repair') }}"><button class="menu__button ring-1 ring-gray-700"><i class="fa-solid fa-wrench text-white text-xl"></i></button></a>
    </div>
    <div class="place-items-center">
        <a href="{{ path('app_logout') }}"><i class="fa-solid fa-arrow-right-from-bracket text-white text-3xl"></i></a>
    </div>
</div>